<div class="jumbotron">
    <h1>YouTrack API</h1>
    <p class="lead">This is an API against YouTrack.</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>There should be documentation here but it ain't.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Learn more</h2>
        <p>Sorry.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>I ran out of ideas here.</p>
        <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
    </div>
</div>
